@media (max-width: 1300px) {
    .header .logo {
        max-width: 350px;
    }

    .escolha-de-piratas {
        flex-direction: column-reverse;
        max-width: 900px;
        margin: 0 auto;
    }

    .escolha-de-piratas .piratas {
        margin-top: -15px;
    }

    .escolha-de-piratas .pirata img {
        width: 150px;
    }
}

@media (max-width: 500px) {
    
    .header .logo {
        max-width: 250px;
    }

    .pirata-selecionado .pirata-grande {
        max-width: 300px;
        }

    
    .escolha-de-piratas .pirata img {
        width: 140px;
    }

    .escolha-de-piratas .piratas .titulo{
        max-width: 80%;
        font-size: 80%;
    }

}