* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

body {
    font-family: 'DM Serif Display', serif;
    background-color: rgb(10, 68, 212);
    color: #000000;
}

body::before{
    content: "";
    background-image: url(src/imagens/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}


.header {
    display: flex;
    justify-content: center;
}

.escolha-de-piratas {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 300px);
    justify-content: center;
}

.escolha-de-piratas .lista-de-piratas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.escolha-de-piratas .lista-de-piratas .pirata {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px; 
}

.escolha-de-piratas .piratas {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;
    gap: 20px;
}

.lista-de-piratas .pirata img {
    max-width: 170px;
    height: auto;
    display: block;
}


.pirata-selecionado .pirata-grande {
    max-width: 430px;
    height: auto;
}


.escolha-de-piratas .piratas .titulo {
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-bottom: 1px solid antiquewhite;
    text-align: center;
    background: linear-gradient(to bottom, rgb(94, 185, 240), rgb(47, 103, 168)); /* Adicionei este padrão para ficar no mesmo estilo da logo, mas não sei se está bom. Lembrar de corrigir. */
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

.lista-de-piratas .pirata.selecionado {
    box-shadow: 0px 0px 24px 5px #fff;
}

.pirata-selecionado {
    text-align: center;
    max-height: 530px;
        }

.pirata-selecionado .nome-pirata{
    letter-spacing: 8px;
    background: rgba(250, 235, 215, 0.9);
    border: 2px solid #8B4513; /* Adicionando o mesmo padrão da descrição no título */
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.pirata-selecionado .descricao-pirata {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
    background: rgba(250, 235, 215, 0.9);
    border: 2px solid #8B4513; /* Cor da borda (marrom escuro) */
    border-radius: 10px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno para o conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar a caixa */
}
